:root {
  --primary: #dd592f;
  --positive: #ffffff;
  --negative: #272727;
  --disabled: #555555;
}

*,
h1,
a {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

body {
  background-color: var(--negative);
}

header {
  flex: 1;
  height: 5rem;
  background-color: var(--primary);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.logoRow {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logoRow img {
  font-size: 2.5rem;
  color: var(--positive);
  margin-right: 1rem;
  width: 4rem;
  object-fit: contain;
}

h1 {
  font-size: 2rem;
  color: var(--positive);
  font-weight: bold;
}

header nav a {
  font-size: 1.5rem;
  color: var(--positive);
  margin-left: 1.5rem;
  cursor: pointer;
}

main {
  display: flex;
  flex: 1;
  padding: 2rem;
  flex-direction: column;
}

.playerHeader {
  display: flex;
  flex: 1;
  flex-direction: row;
  margin-bottom: 4rem;
}

.playerImage {
  background-color: var(--primary);
  height: 16rem;
  width: 12rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-right: 1.5rem;
}

.playerImage img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 1.5rem;
}

.playerInfo {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}

.playerInfo h2 {
  font-size: 2.25rem;
  color: var(--positive);
  font-weight: bold;
}

.playerInfo .row {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.playerInfo p {
  font-size: 1.25rem;
  color: var(--positive);
  margin-right: 3rem;
  font-weight: 300;
}

.playerInfo .overall {
  font-size: 3rem;
}

.pagination {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

.pagination a {
  font-size: 1.5rem;
  color: var(--disabled);
  cursor: pointer;
  border-bottom: 2px solid var(--disabled);
  padding-bottom: 0.5rem;
  width: 20ch;
  text-align: center;
}

.pagination .selected {
  color: var(--positive);
  border-color: var(--positive);
  cursor: default;
}

.hidden {
  display: none;
}

.contentList {
  margin-top: 2.5rem;
}

.contentList h2 {
  font-size: 2rem;
  color: var(--positive);
  font-weight: 300;
  margin-bottom: 1rem;
}

.contentList li {
  margin-bottom: 1.5rem;
  width: 100%;
  height: 8rem;
  background-color: var(--disabled);
  display: flex;
  flex: 1;
  flex-direction: row;
  padding: 1.5rem;
}

.statusContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20ch;
  /* background-color: #A8A8A8; */
}

.statusContainer span {
  font-size: 1rem;
  color: var(--positive);
  margin-top: 0.5rem;
}

.statusContainer img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.infoContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 2rem;
}

.infoContainer h3 {
  font-size: 1.25rem;
  color: var(--positive);
  font-weight: bold;
  min-width: 15rem;
  margin-right: 3rem;
}

.infoContainer p {
  font-size: 1.25rem;
  color: var(--positive);
  font-weight: 300;
  margin-left: 0.5rem;
}

.infoContainer .row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.iconRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 15rem;
  margin-right: 3rem;
}

.iconRow p {
  margin-left: 0.5rem;
}

.playerContainer {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  margin: 0 2rem;
}

.playerContainer p {
  font-size: 1.5rem;
  color: var(--positive);
}

.playerContainer .playerName {
  flex: 1;
}

.playerContainer .space {
  flex: 1;
}

.statsLabel {
  display: flex;
  flex: 1;
  justify-content: space-between;
  margin: 0 36.7% 0 37.7%;
  margin-bottom: 1rem;
}

.statsLabel p {
  font-size: 1.5rem;
  color: var(--positive);
}

.statsRow {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
}

.redirectContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.redirectContainer p {
  font-size: 1.5rem;
  color: var(--positive);
  margin-right: 0.5rem;
}
