:root {
  --primary: #dd592f;
  --primary-highlight: #cc481e;
  --positive: #ffffff;
  --negative: #272727;
  --disabled: #555555;
  --input: #d9d9d9;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Roboto", sans-serif;
}
html {
  height: 100%;
  width: 100%;
}
body {
  background-color: var(--negative);
}
.container {
  width: 60%;
  margin: auto;
  align-items: center;
}
.butao {
  border-radius: 10px;
  width: 100%;
  height: 50px;
  border: none;
  color: white;
  font-weight: bold;
  margin: 15px 0px;
  text-decoration: none;
  text-align: center;
  text-justify: auto;
  background-color: var(--primary);
}
.butao:hover {
  background-color: var(--primary-highlight);
  cursor: pointer;
}
label {
  font-weight: bold;
  margin: 0px 4px;
  outline: none;
  box-shadow: none;
}
input {
  height: 40px;
  width: 100%;
  left: 230px;
  top: 205px;
  border-radius: 8px;
  background-color: var(--input);
  margin: 7px 0px;
  color: black;
  padding: 7px;
  font-size: medium;
  border: none;
}
